{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}English Teacher{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css'  %}">
</head>
<body>
  <header class="site-header">
      <div class="site-identity">
      <a href="/">
            <img src="{% static 'img/english.png' %}" alt="navbar-logo">
      </a>
      <h1><a href="#">Dream Teacher</a> </h1>
      </div>
    <nav class="site-navigation">
        <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/lessons">Lessons</a></li>
      <li><a href="/contact">Contact</a></li>
            <li><a href="/book">Book</a></li>

    </ul>
  </nav>
  </header>

  <main>
    {% block content %}{% endblock %}

  </main>

  <footer class="site-footer">
        <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2025 All Rights Reserved by
         <a href="#">VM</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
{#    <p>© 2025 English with Vik</p>#}
  </footer>
</body>
</html>