{% extends 'base.html' %}

{% block title %}Book{% endblock %}

{% block content %}
  <section class="book-section">
    <div class="free-lesson-form">
  <div class="form-info">
      <h2>Book Your Free Lesson</h2>
      <ul>
      <li>✔ Will choose the best option</li>
      <li>✔ Answer on all questions</li>
      <li>✔ Will check current level</li>
      <li>✔ Will aim your goal</li>
    </ul>
    <p class="subheadline">✨ What a pleasure, joy and fun</p>
  </div>
  <form method="POST" class="form-fields">
    {% csrf_token %}
  {{ form.name.label_tag }} {{ form.name }}
  {{ form.email.label_tag }} {{ form.email }}
  {{ form.phone.label_tag }} {{ form.phone }}

  <label>
    {{ form.consent }} I give consent to this booking.
  </label>

<button type="submit" id="submit-button" class="submit-disabled" disabled>Sign me</button>

  </form>
    </div>
</section>
{#  <script>#}
{#  const checkbox = document.getElementById('consent-checkbox');#}
{#  const button = document.getElementById('submit-button');#}
{##}
{#  checkbox.addEventListener('change', function () {#}
{#    if (this.checked) {#}
{#      button.disabled = false;#}
{#      button.classList.remove('submit-disabled');#}
{#      button.classList.add('submit-enabled');#}
{#    } else {#}
{#      button.disabled = true;#}
{#      button.classList.remove('submit-enabled');#}
{#      button.classList.add('submit-disabled');#}
{#    }#}
{#  });#}
{#</script>#}
    <script>
  const checkbox = document.getElementById('id_consent');
  const button = document.getElementById('submit-button');

  checkbox.addEventListener('change', function () {
    if (this.checked) {
      button.disabled = false;
      button.classList.remove('submit-disabled');
      button.classList.add('submit-enabled');
    } else {
      button.disabled = true;
      button.classList.remove('submit-enabled');
      button.classList.add('submit-disabled');
    }
  });
</script>
{% endblock %}
