{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
  <section class="contact-section">
    <div class="contact-wrapper">
      <h2 class="contact-heading">Contact the English Dream Teacher</h2>
      <p class="contact-subtext">We’re here to help you reach your English goals!</p>
      <div class="contact-content">
        <p>Use the form below or reach out via email and social media.</p>
        <p>Whether you're looking to book a lesson, ask a question, or just say hi — feel free to reach out anytime. </p>
        <p>I’ll get back to you as soon as possible!</p>
      </div>
    </div>
  </section>
{% endblock %}
